*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 10px;
}

.parent{
    /* font-size: 32px; 
    font-size: 10px;
}
.child{
    font-size: 2em;
    background-color: aquamarine;
    width: 10rem;
} */

/* .btn{
    display: block;
    padding: 1em;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    font-size: 16px;
    width: 1em;
}

.btn-size{
    
    font-size: 5px;
} */
body{
    height: 100vh;
    width: 100vw;
    padding: 10px 32px;
}


/* .parent{
    ol{
        background-color: blue;
    }
    ul:first-child{
        background-color: blueviolet;
    }
    ul:last-child{
        
        background-color: blanchedalmond;
        /* li:nth-child(2){
            background-color: aqua;
        } */
/*both are good in their area of use*/
/*
        li:nth-of-type(2){
            background-color: aquamarine;
        }
    }
    
} */

.parent ul{
    background-color: aqua;
}

.parent>ul{
    background-color: yellowgreen;
}
.parent+ul{
    background-color: violet;
}